<h3>【スケジュール一覧】</h3>

<% if flash[:notice]  %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_order "id", "ID" %></th>
      <th><%= sort_order "title", "タイトル" %></th>
      <th><%= sort_order "start_date", "開始日" %></th>
      <th><%= sort_order "end_date", "終了日" %></th>
      <th>終日</th>
      <th><%= sort_order "updated_at", "更新日時" %></th>
      <th>確認</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.title %></td>
        <td><%= task.start_date.strftime("%Y年%m月%d日") %></td>
        <td><%= task.end_date.strftime("%Y年%m月%d日") %></td>
        <td><% if task.all_day == true %>
            ○
            <% else %>

        <% end %></td>

        <td><%= task.updated_at.to_s(:datetime_jp) %></td>
        <td>
          <%= link_to "詳細", task %>
        </td>
        <td>
          <%= link_to "編集", [:edit,task] %>
        </td>
        <td>
          <%= link_to "削除", task, method: :delete, data: {confirm: "本当に削除しますか？"} %>
        </td>
      </tr>
    <% end %>
    </tbody>
</table>

<p><%= link_to "スケジュール新規登録", :new_task %></p>
