<!DOCTYPE html>
<html>
  <head>
    <title>スケジュール管理</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title">スケジュール管理アプリ</h1>
    </header>
    <%= yield %>
    <footer>
      <h1 class="title">現在日時:<%= DateTime.now.strftime("%Y年%m月%d日") %>  スケジュール合計:<%= Task.count %></h1>
    </footer>
  </body>
</html>
